<% provide(:title, "About") %>

<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>About.</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 AGENCY ABOUT
 ***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive" src="assets/img/agency.jpg" alt="">
    </div>

    <div class="col-lg-6">r
      <h4>More About Our Agency.</h4>
      <p><b>연합 앱개발 동아리</b> 넥스터즈는 모바일 생태계의 진짜 주인공들인 개발자와 디자이너들을 위한 공간입니다. 개발자나 디자이너 혼자서 원하는 멋진 앱을 만들기는 어렵습니다. 그리고 그 앱을 함께 만들 수 있는 디자이너를 그리고 개발자를 찾는 것 또한 쉽지 않은 일입니다. 넥스터즈는 그 고민을 해결할 수 있는 동아리입니다. 넥스터즈에는 함께 앱을 만들 친구들이 있고, 언제나 서로 도움을 주고 받을 수 있습니다.</p>
      <p>넥스터즈는 2012년 여름방학에 모집된 1기를 시작으로 현재 5기가 활동하고 있으며, 서울대, 숙명여대, 연세대, 이화여대, 홍익대 등 10개 이상의 대학에서 모인 학생들 그리고 직장인들이 활동하고 있습니다.</p>



      <p><br/><a href="contact.html" class="btn btn-theme">Contact Us</a></p>
    </div>
  </div><! --/row -->
</div><! --/container -->

<!-- *****************************************************************************************************************
 TEEAM MEMBERS
 ***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row centered">
    <h3 class="mb">MEET OUR TEAM</h3>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="he-wrap tpl6">
        <img src="assets/img/team/team01.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
          </div><!-- he bg -->
        </div><!-- he view -->
      </div><!-- he wrap -->
      <h4>Mark Webber</h4>
      <h5 class="ctitle">CEO</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="hline"></div>
    </div><! --/col-lg-3 -->

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="he-wrap tpl6">
        <img src="assets/img/team/team02.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
          </div><!-- he bg -->
        </div><!-- he view -->
      </div><!-- he wrap -->
      <h4>Paul Jameson</h4>
      <h5 class="ctitle">LEAD DESIGNER</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="hline"></div>
    </div><! --/col-lg-3 -->

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="he-wrap tpl6">
        <img src="assets/img/team/team03.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
          </div><!-- he bg -->
        </div><!-- he view -->
      </div><!-- he wrap -->
      <h4>Laura Sommers</h4>
      <h5 class="ctitle">LEAD DEVELOPER</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="hline"></div>
    </div><! --/col-lg-3 -->

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="he-wrap tpl6">
        <img src="assets/img/team/team04.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
          </div><!-- he bg -->
        </div><!-- he view -->
      </div><!-- he wrap -->
      <h4>Martin Blunt</h4>
      <h5 class="ctitle">MARKETING</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="hline"></div>
    </div><! --/col-lg-3 -->

  </div><! --/row -->
</div><! --/container -->

<!-- *****************************************************************************************************************
 TESTIMONIALS
 ***************************************************************************************************************** -->
<div id="twrap">
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <i class="fa fa-comment-o"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <h4><br/>Marcel Newman</h4>
        <p>WEB DESIGNER - BLACKTIE.CO</p>
      </div>
    </div><! --/row -->
  </div><! --/container -->
</div><! --/twrap -->

<!-- *****************************************************************************************************************
 OUR CLIENTS
 ***************************************************************************************************************** -->
<div id="cwrap">
  <div class="container">
    <div class="row centered">
      <h3>OUR CLIENTS</h3>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client01.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client02.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client03.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client04.png" class="img-responsive">
      </div>
    </div><! --/row -->
  </div><! --/container -->
</div><! --/cwrap -->

<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="col-lg-4">
        <h4>Social Links</h4>
        <div class="hline-w"></div>
        <p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Our Bunker</h4>
        <div class="hline-w"></div>
        <p>
          Some Ave, 987,<br/>
          23890, New York,<br/>
          United States.<br/>
        </p>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/footerwrap -->